<html th:include="fragmentos/esqueleto :: template">

<main th:fragment="principal">
    <div class="container p-5 border">
        <div class="row">
            <div class="col"><img class="figure-img img-fluid rounded"
                    src="https://dkrn4sk0rn31v.cloudfront.net/uploads/2021/04/thymeleaf-reaproveitando-codigo-com-fragments-400x280.png"
                    alt="">
            </div>
            <div class="col"><img class="figure-img img-fluid rounded"
                    src="https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png" alt="">
            </div>
        </div>
    </div>
</main>

</html>
