<html th:include="fragmentos/esqueleto::template">
<main th:fragment="principal">
        <div class="container">
            <div class="row border p-3">

                <div class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatum natus commodi assumenda doloremque saepe repellat quasi vitae libero dolore! Quo consequatur similique voluptatum velit tempore et hic dolores nemo?
                    Praesentium totam corporis omnis quibusdam atque incidunt possimus sequi quaerat illo doloribus sint enim vel similique, animi ipsam autem aperiam dolore, itaque doloremque quam deserunt? Ullam facere nihil alias commodi?
                    Quisquam quod harum commodi labore incidunt, libero quidem voluptates eveniet, ad dignissimos illum dolores quam, soluta hic iure quis perspiciatis corrupti. Consequatur veritatis fugiat facere molestiae unde est mollitia accusantium!</div>
                <div class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatum natus commodi assumenda doloremque saepe repellat quasi vitae libero dolore! Quo consequatur similique voluptatum velit tempore et hic dolores nemo?
                    Praesentium totam corporis omnis quibusdam atque incidunt possimus sequi quaerat illo doloribus sint enim vel similique, animi ipsam autem aperiam dolore, itaque doloremque quam deserunt? Ullam facere nihil alias commodi?
                    Quisquam quod harum commodi labore incidunt, libero quidem voluptates eveniet, ad dignissimos illum dolores quam, soluta hic iure quis perspiciatis corrupti. Consequatur veritatis fugiat facere molestiae unde est mollitia accusantium!</div>
                <div class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatum natus commodi assumenda doloremque saepe repellat quasi vitae libero dolore! Quo consequatur similique voluptatum velit tempore et hic dolores nemo?
                    Praesentium totam corporis omnis quibusdam atque incidunt possimus sequi quaerat illo doloribus sint enim vel similique, animi ipsam autem aperiam dolore, itaque doloremque quam deserunt? Ullam facere nihil alias commodi?
                    Quisquam quod harum commodi labore incidunt, libero quidem voluptates eveniet, ad dignissimos illum dolores quam, soluta hic iure quis perspiciatis corrupti. Consequatur veritatis fugiat facere molestiae unde est mollitia accusantium!</div>
               
            </div>
        </div>
    </main>
</html>
